body {
    font-style: normal;
}
.container {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 60px;
}
.card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
   
}
.card img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.price {
    font-weight: bold;
    color: green;
}

.packages {
    font-size: 30px;
    text-align: center;
}
